.formUl{
    display: flex;
    flex-direction: column;
}

.formUl label{
    display: block;
    margin-bottom: 0.45rem;
}

.formUl input{
    outline: none;
    border: 2px solid #cac6c6;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
}

.formUl li{
    margin-bottom: 20px;
}